/* Start of CMSMS style sheet 'landing' */
body {background-color:#2b3e44;background-color:#1e2b2f;}
#header {background-color:#1e2b2f;}
div.splash {width:1000px;margin:0px auto;margin-top:30px;}
div.splash a img {border:0;}
/* End of 'landing' */

